name: Check PR trigger
on:
  pull_request:
    types: [opened, edited]
  workflow_dispatch:
jobs:
  pr-info:
    runs-on: ubuntu-latest
    steps:
      - name: Output PR information
        run: |
          echo "PR title: ${{ github.event.pull_request.title }}"
          echo "PR body: ${{ github.event.pull_request.body }}"
          echo "PR created at: ${{ github.event.pull_request.created_at }}"
          echo "User who created the PR: ${{ github.event.pull_request.user.login }}"